%h2.govuk-heading-m Cookies that keep you logged in
%table.govuk-table
  = render 'table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _mod_uploader_session
      %td.govuk-table__cell This helps us to keep you logged in
      %td.govuk-table__cell 15 minutes
